.container {
  display: grid;
  /* grid-template-columns: 1fr 1fr ; */
  /* grid-template-rows: 30px 1fr 30px; */
  grid-template-areas:
    "header"
    "main"
    "footer"
}


.header {
  border: solid;
  margin: 5px;
  /* grid-row: 1; */
  /* grid-column-start: 1; */
  grid-area: header;
}

.main {
  border: solid;
  margin: 5px;
  display: flex;
  grid-area: main;
}

.footer {
  border: solid;
  margin: 5px;
  /* grid-row: 5; */
  grid-area: footer;
}