body {
  background-color:black
}

.container {
  display: grid;
  text-transform: uppercase;
  font-family: din-2014,sans-serif;
  color: #ff9030;
  background-color: #2b2a29;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer"
}


.header {
  justify-self: stretch;
  text-align: center;
  border: solid;
  margin: 5px;
  padding: 3px;
  /* grid-row: 1; */
  /* grid-column-start: 1; */
  grid-area: header;
}

.main {
  border: solid;
  display:inline;
  text-align: center;
  text-anchor: middle;
  justify-content: center;
  margin: 5px;
  display: flex;
  flex-shrink: 5;
  flex-grow: 2;
  grid-area: main;
  padding: 3px;
}

.footer {
  border: solid;
  justify-self: stretch;
  text-align: center;
  margin: 5px;
  /* grid-row: 5; */
  grid-area: footer;
  padding: 3px;
  color: red;
}

a {
  color: whitesmoke
}

.get {
  background-color: #2b2a29;
  color: whitesmoke
}